html {
  scroll-behavior: smooth;
}

.bi-chevron-down::before {
    font-weight: 700 !important;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.checkmark {
    transition: color .2s, border-bottom .2s;
    -webkit-transition: color .2s, border-bottom .2s;
    -moz-transition: color .2s, border-bottom .2s;
    -ms-transition: color .2s, border-bottom .2s;
    -o-transition: color .2s, border-bottom .2s;
}

  .check-ecommerce-7 ~ a:active,
  .check-ecommerce-7 ~ a:hover,
  .check-ecommerce-7:checked ~ .checkmark
  .checkmark:hover {
    color: rgb(156 163 175);
    border-bottom:2px rgb(156 163 175) solid ;
  }

.ecommerce-sect-2::before {
  content: url(../img/Check\ Icon.png);
  position: absolute;
  top: -4px;
  left: 4px;
  display: none;
}

@media (min-width: 768px) {
  .ecommerce-sect-2::before {
    top: -3.5px;
    left: 6px;
  }
}

.ecommerce-7-sec:checked ~ .ecommerce-sect-2::before {
  display: block;
}

.ecommerce-7-scroll {
  scroll-behavior: smooth;
}

.ecommerce-7-scroll::-webkit-scrollbar{
  height: 20px;
}

.check-ecommerce-11:checked ~ .checkmark-ecommerce-11{
  background: #fff;
}

.bg-opacity-80{
  --tw-bg-opacity: .8 !important;
}

.bg-opacity-50 {
  --tw-bg-opacity: .5 !important;
}

.eco-31-hover{
  opacity: 0;
}

.bg-opacity-50,
.bg-opacity-80,
.eco-31-hover {
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
}


.trans{
  border-radius: 128px;
  transition: border-radius .5s;
  -webkit-transition: border-radius .5s;
  -moz-transition: border-radius .5s;
  -ms-transition: border-radius .5s;
  -o-transition: border-radius .5s;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
  -ms-border-radius: 128px;
  -o-border-radius: 128px;
}

.trans:hover {
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.bg-opacity-50:hover,
.bg-opacity-80:hover,
.eco-31:hover .eco-31-hover  {
  opacity: 1;
}

.ecommerce-33-sec-2:checked ~ .ecommerce-check-33-sec-2{
  background: #1E0E62;
  color: #ffffff;
  border-color: #1E0E62;
}
